.EmptyCityParameter{
	color:red;
		margin-top:10em;
		text-align:center;
}
.restaCardContainer{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	width:90%;

	margin:0 auto;
	padding:0.8em;
	margin-top:8em;
}
.restaCard{
	position:relative;
	width: 20em;
	background-color:rgba(255,255,255,0.6);
	margin: 1em;
	border-radius:1em;
	text-align:center;
	-webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);

}
.restaCard img{
	border-radius:1em;

}
.priceIcon{
	margin:0.5em;
}
