.navbar {
	background-color:rgba(0, 9, 25, 0.8);
	padding:1em;
	position:fixed;
	width:100%;
	top:0;
	left:0;
	user-select:none;
	z-index:1;
}
.navbar .title{
	font-size:2em;
	float:left;
	color:white;
}
.navbar .popularCitiesNav{
	margin-left:0.5em;
	padding:1em;
	clear:both;
	display:inline-block;
	color:white;
	border-radius:0.5em;
}
.navbar .popularCitiesNav:hover{
	background-color:rgba(255,255,255,0.6);
	color:black;
}
.navbar input{
	width: 10em;
	height:1.5em;
	border-radius: 0.5em;
	outline-width:0;
	padding:0.7em;
	margin:0.1em 0.5em;

}
.navbar button{
	outline-style:none;
	border-style:none;
	background-color:rgba(255,255,255,0.1);
	padding:1em;
	margin-right:2em;
	border-radius: 0.5em;
	color:white;
}
.navbar button:hover{
	background-color:rgba(255,255,255,0.6);
	color:black;
}
.navbar .search{
	float:right;
}
